.player-stats {
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  margin-bottom: 10px;
  border-radius: 30px;
  padding-left: 20px;
}

.player-name {
  width: 120px;
}

.victory {
  color: #20de6e;
  margin: 0 10px;
}

.lose {
  color: #de2020;
  margin: 0 10px;
}

.winrate-gradient {
  width: 150px;
  height: 4px;
  border-radius: 10px;
}